// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

body > header h1 {
      padding-left:1.0em;
      text-align:center;
      @media only screen and (min-width: 432px) {
              text-align:center;
              padding-left:5em;
      }
      @media only screen and (min-width: 768px) {
              text-align:left;
              padding-left:7em;
      }
      @media only screen and (min-width: 992px) {
              padding-left:5em;
      }
}

body > header h2 {
      padding-left:7em;
      text-align:right;
      @media only screen and (min-width: 432px) {
              text-align:center;
              padding-left:12em;
      }
      @media only screen and (min-width: 768px) {
              text-align:left;
              padding-left:17em;
      }
      @media only screen and (min-width: 992px) {
              text-align:left;
              padding-left:13em;
      }
}

body > header h1:before {
      content:"";
      position:absolute;
      left:.1em;
      right:0;
      top:1.3em;
      height:210px;
      width:212px;
      overflow:hidden;
      text-align:right;
      background-image:url('/images/logo_kl.png');
      background-repeat:no-repeat;
      @media only screen and (min-width: 432px) {
              top:.0em;
              left:.75em;
	      background-image:url('/images/logo_mi.png');
      }
     @media only screen and (min-width: 768px) {
              top:-.3em;
              left:.75em;
	      background-image:url('/images/logo_gr.png');
      }
}

